<IfModule mod_rewrite.c>
 
    RewriteEngine On
    RewriteBase /

 
    RewriteCond %{REQUEST_URI} ^system.*
    RewriteRule ^(.*)$ /tesis_frank/index.php?/$1 [L]

 

    RewriteCond %{REQUEST_URI} ^application.*
    RewriteRule ^(.*)$ /tesis_frank/index.php?/$1 [L]


    #Comprueba si el usuario está intentando acceder a un archivo válido,
    #como un documento de imagen o CSS, si esto no es cierto
    #se redirecciona a index.php
	
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /tesis_frank/index.php?/$1 [L]
</IfModule>
#si no esta activo el modulo mod_rewrite de apache
#para un recurso no encontrado se lanza un error 404 cargando index.php
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /tesis_frank/index.php
</IfModule>